ion-content{
	--background: #f7b75d;
}
	.selection{
		height: 80vh;
		width: 100%;
		max-width: 100%;
		background: #ffffff;
		right: 0;
		left: 0;
		bottom: 0;
		position: fixed;
		border-radius: 40px 40px 0 0;
	}

	.heading{
		margin-top: 20px;
		
		h1{
			
			font-weight: 700;
			font-size: 26px; 
			text-align: center;
		}
	}

	.form-input{
		padding: relative;
		margin-bottom: 10px;
	}